<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Iniciar sesión</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-item>
        <ion-label position="floating">Nombre de usuario</ion-label>
        <ion-input [(ngModel)]="email" type="email"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input [(ngModel)]="password" type="password"></ion-input>
      </ion-item>

      <ion-button expand="block" (click)="login()">Entrar</ion-button>

      <!-- Mensajes de feedback -->
      <ion-text class="error-message" *ngIf="errorMsg">
        {{ errorMsg }}
      </ion-text>

      <ion-text class="success-message" *ngIf="successMsg">
        {{ successMsg }}
      </ion-text>

      <!-- Registro -->
      <div class="text-center mt-3">
        <small>¿No tienes cuenta?</small><br>
        <a href="/register/" class="btn btn-link">Registrarse aquí</a>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
