<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ titulo }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="proximamente">
    <ion-icon name="construct-outline"></ion-icon>
    <h2>{{ titulo }}: próximamente</h2>
    <p>Estamos trabajando en esta sección. Muy pronto estará disponible.</p>
    <ion-button routerLink="/home" fill="outline">Ir a Home</ion-button>
  </div>
</ion-content>
