:root {
  /* Fondo general de la aplicación */
  --ion-background-color: #ffffff;

  /* Color del texto principal */
  --ion-text-color: #000000;

  /* Colores de los componentes */
  --ion-color-primary: #7ddf15;
  --ion-color-primary-rgb: 125, 223, 21;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #6ac312;
  --ion-color-primary-tint: #8ae52a;
}
